@(message: String, serverForm: Form[ServerData])(implicit messages: Messages)

@import helper._

@main("Bjönd Github Adapter") {

	<div class="titlebar">
		<div class="github-icon"></div>
		<div class="title">GitHub Adapter for Bjönd</div>
	</div>

	<div class="register-server-form">

		<div class="register-service-text">@(message)</div>

	    @helper.form(action = routes.Application.registerService) {
		    @helper.inputText(serverForm("server"), 'placeholder -> "Enter Server URL or IP Address.", 'name -> "", 'class -> "server-input", '_label -> "") 
		    <input type='submit' name='register' value='Register Service' class="submit-button"/> 
		}

	</div>

}
